{% extends "layout.njk" %}
{% import 'parts/section-products.njk' as section %}

{% block content %}

<section class="search-products container">
    <aside>
        <div class="header">
            <h2>Computador</h2>
            <p>12 encontrado</p>
        </div>

        <nav class="categories">
            <h4>Categorias</h4>
            <ul>
                <li><a href="#">Eletronicos</a></li>
                <li><a href="#">Comida</a></li>
            </ul>
        </nav>
    </aside>

    {# Chamando a função do Macro - nome, classe e produto  #} 
    {{section.products('', 'searched', products)}} 

</section>

{% endblock content %}